<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./src/login.css">
</head>
<body>

    <main class="main-content">
        <header class="main-header"> 
            <div><span class="logo-hospital"> + </span></div>
            <div><h1 class="main-title">Hospital</h1></div>
        </header>

        <main class="login-main">
            <section>
            <div class="signup-container">
                <header class="titulos">
                <h2>InveMedi - Estoque Hospitalar</h2>
                <p class="title">Crie sua conta</p>
                </header>
                <form class="form">
                        <label for="nome">Nome</label>
                              <input type="text" id="nome" placeholder="Nome">
                        <label for="email">E-mail</label>
                             <input type="email" id="email" placeholder="E-mail">
                        <label for="senha">Senha</label>
                            <input type="password" id="senha" placeholder="Senha">
                        <label for="confirmar-senha">Confirmar Senha</label>
                            <input type="password" id="confirmar-senha" placeholder="Confirmar Senha">
                        <button class="" type="submit">Criar Conta</button>
                </form>
            </div>
            <footer>
                <p class="">
                Já tem uma conta?
                <a href="login.html">Entrar</a>
                </p>
            </footer>
            </section>
        </main>
    
</main>
</body>
</html>